.navbar-glass {
    background-color: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    background: linear-gradient(
        120deg,
        #ffffff 0%,
        #d1d1d1 25%,
        #dcdcdc 50%,
        #e6e6e6 75%,
        #ffffff 100%
    );
    background-size: 300% 300%;
    animation: luzIluminando 10s ease-in-out infinite;
}

@keyframes luzIluminando {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    text-decoration: none;
}

.whatsapp-float:hover {
    background-color: #128C7E;
    transform: scale(1.1);
    color: #FFF;
}

.hero {
    background: url(style/salgadoshero.png) center/cover no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.btn-pedido {
    border-color: rgb(255, 0, 0);
    color: black;
}

.btn-pedido:hover {
    background: rgb(255, 61, 61);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.btn-wpp {
    border-color: rgb(26, 255, 0);
    color: black;
}

.btn-wpp:hover {
    background: rgb(26, 255, 0);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}

.card-fixed-height {
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.card-fixed-height .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 14rem;
    object-fit: cover;
}

.custom-arrow {
    width: 5%;
    opacity: 1;
}

.card-fixed-height { min-height: 300px; }

.botoes-card {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-carrinho {
    width: 55px;        
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

